<div class="{{profileStyles.block}}" id="profile-page">
    <div class="{{profileStyles.avatarBlock}}">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Golang_Gopher.jpg" alt="" class="{{profileStyles.avatarWrapper}}">
        <div class="{{profileStyles.nameWrapper}}">
            <span class="{{profileStyles.titleText}}">Никита</span>
            <span class="{{profileStyles.titleText}}">Суворов</span>
        </div>
        <span class="{{profileStyles.exit}}">Выйти</span>
    </div>
    <div class="{{profileStyles.informationBlock}}">
        <div class="{{profileStyles.svgWrapper}}">
            <img src="https://duckluckmarket.hb.bizmrg.com/svg/header/smile.svg" alt="" class="{{profileStyles.svg}}">
        </div>
        <form class="{{profileStyles.info}}" id="form">
            <span class="{{profileStyles.titleText}}">Учётные данные</span>
            <div class="{{profileStyles.fioWrapper}}">
                <div class="{{profileStyles.infoElem}}">
                    <span class="{{profileStyles.infoTitle}}">Фамилия</span>
                    <input type="text" name="lastName"class="{{profileStyles.infoText}}" placeholder="Cуворов">
                    <div class="profile-credentials__input_error" id="{{this.name}}_error"></div>
                </div>
                <div class="{{profileStyles.infoElem}}">
                    <span class="{{profileStyles.infoTitle}}">Имя</span>
                    <input type="text" name="firstName" class="{{profileStyles.infoText}}" placeholder="Никита">
                    <div class="profile-credentials__input_error" id="{{this.name}}_error"></div>
                </div>
            </div>
            <div class="{{profileStyles.infoElem}}">
                <span class="{{profileStyles.infoTitle}}">Почта</span>
                <input type="email" name="email" class="{{profileStyles.infoText}}" placeholder="suvnik.2000@mail.ru" disabled>
            </div>
            <button type="submit" class="{{profileStyles.change}}">
                <span class="{{profileStyles.changeText}}">Изменить</span>
            </button>

        </form>

    </div>
</div>
