<div class="profile-page" id="profile-page">
    <div class="profile-header">
        <h1 class="profile-header__item">
            <span class="profile-header__footer-text">Profile</span>
        </h1>
    </div>

    <div class="profile-body">
        <div class="profile-info">
            <img class="profile-info__user-avatar img_avatar" src="" alt="Users avatar">
            <div class="profile-info__user_name"></div>
        </div>
        <div class="profile-credentials">
            <div class="profile-credentials__text">Credentials</div>
            <form class="profile-credentials__form" id="form">
                <div class="profile-credentials__input_description">{{this.avatarUpload.placeholder}}</div>
                <input class="profile-info__user-avatar-input" type="{{this.avatarUpload.type}}" placeholder="" name="{{this.avatarUpload.name}}">
                <div class="profile-credentials__input_error" id="{{this.avatarUpload.name}}_error"></div>
                {{#each this.inputFields}}
                    <div class="profile-credentials__input_description">{{this.placeholder}}</div>
                    {{#if this.isDisabled}}
                        <input disabled class="profile-credentials__input_line" type="{{this.type}}" name="{{this.name}}" value="">
                    {{else}}
                        <input class="profile-credentials__input_line" type="{{this.type}}" name="{{this.name}}" value="">
                    {{/if}}
                    <div class="profile-credentials__input_error" id="{{this.name}}_error"></div>
                {{/each}}

                <button type="submit" class="button_update">Update</button>
            </form>
        </div>
    </div>
</div>
