<div class="{{profileStyles.block}}" id="profile-page">
    <div class="{{profileStyles.avatarBlock}}">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Golang_Gopher.jpg" alt="" class="{{profileStyles.avatarWrapper}}">
        <span class="{{profileStyles.titleText}}">Никита</span>
        <span class="{{profileStyles.titleText}}">Суворов</span>
    </div>
    <div class="{{profileStyles.informationBlock}}">
        <div class="{{profileStyles.svgWrapper}}">
            <img src="https://duckluckmarket.hb.bizmrg.com/svg/header/smile.svg" alt="" class="{{profileStyles.svg}}">
        </div>
        <div class="{{profileStyles.info}}">
            <span class="{{profileStyles.titleText}}">Учётные данные</span>
            <div class="{{profileStyles.fioWrapper}}">
                <div class="{{profileStyles.infoElem}}">
                    <span class="{{profileStyles.infoTitle}}">Фамилия</span>
                    <input class="{{profileStyles.infoText}}" placeholder="Cуворов">
                </div>
                <div class="{{profileStyles.infoElem}}">
                    <span class="{{profileStyles.infoTitle}}">Имя</span>
                    <input class="{{profileStyles.infoText}}" placeholder="Никита">
                </div>
            </div>
            <div class="{{profileStyles.infoElem}}">
                <span class="{{profileStyles.infoTitle}}">Почта</span>
                <input class="{{profileStyles.infoText}}" placeholder="suvnik.2000@mail.ru" disabled>
            </div>
            <span class="{{profileStyles.change}}">Изменить</span>
        </div>

    </div>
</div>
