<div class="{{productsStyles.block}}">
    <div class="{{productsStyles.body}}">
        <div class="{{productsStyles.listWrapper}}">{{{productsList}}}</div>
    </div>
    <div class="{{productsStyles.footer}}">
        {{{pagination}}}
    </div>
</div>
