<div class="{{productsStyles.block}}">
    <div class="products-list-header"></div>
    <div class="{{productsStyles.body}}">
        <div class="{{productsStyles.listWrapper}}">{{{productsList}}}</div>
    </div>
    <div class="products-list-footer">
        {{{pagination}}}
    </div>
</div>
