<div class="item-page-container" id="item-page-container">
    <div class="item-images-block">
        <div class="main-item-image-block">
            <img src={{images.0.src}} alt="" class="main-item-image-block__image img img_size_m">
        </div>
        <div class="common-item-images-block">
            {{#each images}}
                <img src={{this.src}} alt="" class="common-item-image-block__image img img_size_s">
            {{/each}}
        </div>
    </div>
    <div class="item-information-block">
        <span class="item-information-block__item-name">{{name}}</span>
        {{{rating}}}
        <div class="item-price-block {{#if price.discount}}discount-active{{/if}}">
            <span class="item-discount-price item-price">{{price.discountPrice}}</span>
            <span class="item-base-price item-price">{{price.base}}</span>
            <span class="item-discount item-price">{{price.discount}}</span>
        </div>
        <div class="item-description-block">
            {{#each description}}
                <div class="description-row">
                    <span class="description-row__span description-key">{{@key}}:</span>
                    <span class="description-row__span description-value">{{this.name}}</span>
                </div>
            {{/each}}
        </div>
        <div class="purchase-block">
            <div class="item-count-block">
                <button class="button button_dec">
                    <span class="dec">-</span>
                </button>
                <span class="item-count-block__item-count">1</span>
                <button class="button button_inc">
                    <span class="inc">+</span>
                </button>
            </div>
            <button class="button button_add-to-cart">
                <span class="text">Add to Cart</span>
            </button>
            <button class="button button_add-to-favorites">
                <span class="text">♡</span>
            </button>
        </div>
    </div>
</div>