<div class="{{productStyles.block}}">
    <div class="{{productStyles.categoriesBlock}}">
        {{#each category_path}}
            <span class="{{../productStyles.category_path}}" category_id="{{this.id}}">{{this.name}}</span>
            <span> ></span>
        {{/each}}
    </div>
    <div class="{{productStyles.badges}}">
        <div class="{{productStyles.discountBadge}}" {{#ifEquals price.discount 0}} style="visibility: hidden;"{{/ifEquals}}>
            <span class="{{productStyles.discountText}}">-{{price.discount}}%</span>
        </div>
    </div>
    <div class="{{productStyles.name}}">{{name}}</div>
    <div class="{{productStyles.rating}}">
        {{#for 0 rating 1}}
            <img src="https://duckluckmarket.hb.bizmrg.com/svg/star.svg" alt="" class="">
        {{/for}}
        {{#for rating 5 1}}
            <img src="https://duckluckmarket.hb.bizmrg.com/svg/empty_star.svg" alt="" class="">
        {{/for}}
    </div>
    <div class="{{productStyles.wrapperWrapper}}">
        <div class="{{productStyles.wrapper}}">
            <div class="{{productStyles.mainInformation}}">
                <div class="{{productStyles.imagesBlock}}">
                    <div class="{{productStyles.images}}">
                        {{#each images}}
                            <div class="{{../productStyles.imageWrapper}}">
                                <img src="{{this.src}}" class="{{../imagesStyles.imgXL}}">
                            </div>
                        {{/each}}
                    </div>
                    <div class="{{productStyles.mainImage}}">
                        <img src="{{images.0.src}}" alt="" class="{{imagesStyles.imgXXL}} {{productStyles.preview}}">
                    </div>
                </div>
            </div>
            <div class="{{productStyles.description}}">
                <span class="{{productStyles.title}}">Описание</span>
                <span class="{{productStyles.descriptionText}}">{{description}}</span>
            </div>
            <div class="{{productStyles.specifications}}"></div>
            <div class="{{productStyles.reviewListText}}">Отзывы: </div>
            <select class="{{productsStyles.select}}">
                {{#each select}}
                    <option key="{{this.key}}" direction="{{this.direction}}" {{#ifEquals this.key ../sort.key}}{{#ifEquals this.direction ../sort.direction}}selected{{/ifEquals}}{{/ifEquals}}>
                        {{this.name}}
                    </option>
                {{/each}}
            </select>
            <div class="{{productStyles.reviewList}}"></div>
            <div id="review-pagination"></div>
        </div>
        <div class="{{productStyles.menu}}">
            <div class="{{productStyles.aboutProduct}}"></div>
            <div class="{{productStyles.buyMenu}}">
                <div class="{{productStyles.priceBlock}}">
                    <div class="{{productStyles.priceWrapper}}">
                        <span class="{{productStyles.discountPrice}} {{#ifEquals price.discount 0}}{{decorators.hidden}}{{/ifEquals}}">{{price.discountPrice}}₽</span>
                        <span class="{{productStyles.price}} {{#ifNotEquals price.discount 0}}{{decorators.strikethrough}}{{/ifNotEquals}} {{#ifEquals price.discount 0}} {{productStyles.priceWithoutDiscount}}{{/ifEquals}}">{{price.base}}₽</span>
                    </div>
                </div>
                <div class="{{productStyles.buttons}}">
                    <button class="{{productStyles.notInCartButton}}">
                        <span class="{{productStyles.buttonText}}">В корзину</span>
                    </button>
                </div>
            </div>
            <button class="{{productStyles.reviewButton}}">
                <span>Оставить отзыв</span>
            </button>
        </div>
    </div>
</div>
