<div class="{{styles.wrapper}}" id="authentication-block-wrapper">
    <div class="{{styles.textWrapper}}">
        <span class="{{styles.title}}">Отсутствует интернет-соединение. </span>
        <span class="{{styles.title}}">Проверьте подключение к Wi-Fi или сотовой сети и повторите попытку. </span>
    </div>
    <div class="{{styles.bubblingG}}">
        <span id="bubblingG_1"></span>
        <span id="bubblingG_2"></span>
        <span id="bubblingG_3"></span>
    </div>
</div>
