<div class="{{styles.wrapper}}" id="authentication-block-wrapper">
    <form class="{{styles.body}}">
        <span class="{{styles.title}}">Войдите или зарегистрируйтесь, чтобы продолжить</span>
        {{#each formData.inputFields}}
            <div class="{{../styles.inputBlock}}">
                <span class="{{../styles.fieldName}}"></span>
                <div class="{{../styles.inputWrapper}}">
                    <input id="{{this.name}}" name="{{this.name}}" type="{{this.type}}" class="{{../styles.input}}" placeholder="{{this.placeholder}}">
                </div>
            </div>
        {{/each}}

        <button class="{{buttonStyles.auth}}" type="{{formData.submitButton.type}}">
            <span class="{{styles.buttonText}}">{{formData.submitButton.text}}</span>
        </button>
        <span class="{{styles.signup}}" href="{{formData.link.href}}">{{formData.link.name}}</span>
    </form>
</div>
