<div class="{{styles.block}}" id="review-block">
    <div class="{{styles.body}}">
        <div class="{{styles.description}}">
            <span class="{{styles.title}}">Ваш отзыв о товаре</span>
            <span class="{{styles.href}}" href="{{product.href}}">Страница товара</span>
            <div class="{{styles.productWrapper}}">
                <div class="{{styles.imageWrapper}}">
                    <img src="{{product.image}}" class="{{styles.productImg}}">
                </div>
                <span class="{{styles.name}}">{{product.title}}</span>
            </div>
    <!--        Будет добавлен позже-->
    <!--        <div class="{{styles.notice}}">-->
    <!--            <div class="{{styles.noticeImage}}"></div>-->
    <!--            <span class="{{styles.noticeText}}">-->
    <!--                Если качество товара вас устроило, можете поставить только оценку товара.-->
    <!--                <br>-->
    <!--                Остальные поля - не обязательно.-->
    <!--            </span>-->
    <!--        </div>-->
        </div>
        <div class="{{styles.rating}}">
            <span class="{{styles.text}}">Оцените покупку</span>
            <div class="{{styles.stars}}">
                {{#for 0 5 1}}
                    <img src="https://duckluckmarket.hb.bizmrg.com/svg/empty_star.svg" value="{{this}}" class="{{../styles.star}}">
                {{/for}}
            </div>
        </div>
        <div class="{{styles.impressions}}">
            <span class="{{styles.text}}">Поделитесь впечатлениями о товаре</span>
            {{#each inputFields}}
                <input class="{{../styles.input}}" type="{{this.type}}" name="{{this.name}}" value="{{this.value}}" placeholder="{{this.placeholder}}">
            {{/each}}
        </div>
    <!--    <div class="{{styles.photos}}">-->
    <!--        <span>Добавьте фотографии</span>-->
    <!--    </div>-->
        <div class="{{styles.signature}}">
            <span class="{{styles.text}}">Вы оставляете отзыв как</span>
            <span class="{{styles.text}} {{styles.bold}}">{{userName}}</span>
        </div>
        <div class="{{styles.submit}}">
            <div class="{{styles.private}}">
                <span class="{{styles.text}}">Скрыть мои данные в отзыве</span>
                <input class="" type="{{isPublic.type}}" name="{{isPublic.name}}">
            </div>
            <button class="{{styles.submitButton}}">
                <span class="{{styles.text}} {{styles.buttonText}}">Отправить отзыв</span>
            </button>
        </div>
    </div>
</div>
