<div class="{{cartStyles.cartWrapper}}" id="products-list-block">
    <div class="{{cartStyles.body}}">
        <div class="{{cartStyles.title}}">
            <span class="{{cartStyles.titleText}}">Корзина</span>
        </div>
        <span class="{{cartStyles.emptyCartText}}">Ваша корзина пуста!</span>
    </div>
</div>

