<div class="{{cartStyles.cartWrapper}}" id="products-list-block">
    <div class="{{cartStyles.body}}">
        <div class="{{cartStyles.title}}">
            <span class="{{cartStyles.titleText}}">Корзина</span>
        </div>
        <div class="{{cartStyles.mainWrapper}}">
            <div class="{{cartStyles.wrapper}}">
                <div class="{{cartStyles.cartInfo}}">
                    <div class="{{cartStyles.selectMenu}}">
                        <div class="{{cartStyles.selectAll}}" style="visibility: hidden;">
                            <input type="checkbox" name="a" value="Выбрать все" class="{{cartStyles.checkbox}}" >
                            <span class="{{cartStyles.selectAllText}}">Выбрать все</span>
                        </div>
                        <span class="{{cartStyles.deleteSelectedText}}" style="visibility: hidden;">Удалить выбранные</span>
                    </div>
                    <div class="{{cartStyles.deliveryBlock}}">
                        <span class="{{cartStyles.deliveryText}}">Доставка Ozon</span>
                    </div>
                    <div class="{{cartStyles.productsListBlock}}">
                        <div class="products-list">
                            {{#each this.productsList}}
                                <div class="{{../cartStyles.productsListElem}}" product_id="{{this.id}}">
                                    <input type="checkbox" name="a" value="" style="visibility: hidden;">
                                    <div class="{{../cartStyles.image}}">
                                        <img src={{this.preview_image}} alt="" class="{{../cartStyles.productImage}}">
                                    </div>
                                    <div class="{{../cartStyles.description}}">
                                        <span class="{{../cartStyles.name}}">{{this.title}}</span>
                                        <div class="{{../cartStyles.productMenu}}">
                                            <span class="{{../cartStyles.productMenuText}} {{../decorators.lock}}">В избранное</span>
                                            <span class="{{../cartStyles.productMenuText}}" title={{this.id}}>Удалить</span>
                                        </div>
                                    </div>
                                    <div class="{{../cartStyles.priceBlock}}">
                                        <div class="{{../cartStyles.priceInfo}}">
                                            <div class="{{../cartStyles.endPrice}}">{{multiply this.price.total_cost this.count}} ₽</div>
                                            {{#ifNotEquals this.price.total_discount 0}}
                                                <span class="{{../cartStyles.oldPrice}}">{{multiply this.price.base_cost this.count}} ₽</span>
                                                <span class="{{../cartStyles.discountPrice}}">Скидка {{substract (multiply this.price.base_cost this.count) (multiply this.price.total_cost this.count)}} ₽</span>
                                            {{/ifNotEquals}}
                                        </div>
                                    </div>
                                    <div class="{{../cartStyles.countMenu}}">
                                        <button class="{{../cartStyles.incButton}}" title={{this.id}}>-</button>
                                        <div class="{{../cartStyles.countField}}" title={{this.id}}>
                                            <span class="{{../cartStyles.count}}" title={{this.id}}>{{this.count}}</span>
                                        </div>
                                        <button class="{{../cartStyles.decButton}}" title={{this.id}}>+</button>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="{{cartStyles.orderMenu}}">
                    <div class="{{cartStyles.orderButtonWrapper}}">
                        <button class="{{cartStyles.orderButton}}">
                            <span class="{{cartStyles.orderSubmit}}">Перейти к оформлению</span>
                        </button>
                    </div>
                    <div class="{{cartStyles.orderInfo}}">
                        <div class="{{cartStyles.orderInfoWrapper}}">
                            <span class="{{cartStyles.orderInfoTitle}}">Ваша корзина</span>
                            <div class="{{cartStyles.orderInfoBody}}">
                                <div class="{{cartStyles.orderInfoRow}}">
                                    <span class="{{cartStyles.orderInfoText}}">Товары ({{this.cartSize}})</span>
                                    <span class="{{cartStyles.orderInfoPrice}}">{{this.baseCost}}₽</span>
                                </div>
                                <div class="{{cartStyles.orderInfoRow}}">
                                    <span class="{{cartStyles.orderInfoText}}">Скидка</span>
                                    <span class="{{cartStyles.orderInfoDiscount}}">- {{this.discount}}₽</span>
                                </div>
                                <div class="{{cartStyles.totalPriceBlock}}">
                                    <span class="{{cartStyles.orderTotalPriceTitle}}">Общая стоимость</span>
                                    <span class="{{cartStyles.totalPriceText}}">{{this.totalCost}} ₽</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

