<form>
    {{#each objects}}
        {{#ifEquals this.objectType "input"}}
            <input type={{this.type}} name={{this.name}} placeholder={{this.placeholder}} value={{this.value}}>
        {{/ifEquals}}

        {{#ifEquals this.objectType "link"}}
            <a href={{this.href}} data-section={{this.section}}>{{this.textContent}}</a>
        {{/ifEquals}}
    {{/each}}
</form>