<div class="{{sliderStyles.block}}" id="slider">
    <div class="{{sliderStyles.buttonWrapper}}">
        <button class="{{buttonStyles.slider}} {{decorators.noVisibility}}" id="slider-left">
            <img src="https://duckluckmarket.hb.bizmrg.com/svg/slider.svg" class="{{decorators.mirrorY}}">
        </button>
    </div>
    <div class="{{sliderStyles.contentWrapper}}">
        <div class="{{sliderStyles.content}}">
            {{#each items}}
                {{{this}}}
            {{/each}}
        </div>
    </div>
    <div class="{{sliderStyles.buttonWrapper}}">
        <button class="{{buttonStyles.slider}} {{decorators.noVisibility}}" id="slider-right">
            <img src="https://duckluckmarket.hb.bizmrg.com/svg/slider.svg">
        </button>
    </div>
</div>
