<div class="{{carouselStyles.block}}" id="carousel">
    <button class="{{carouselStyles.left}} {{carouselStyles.btn}} {{decorators.noVisibility}}"></button>
    <div class="{{carouselStyles.contentWrapper}}">
        <div class="{{carouselStyles.content}}">
            {{#each items}}
                {{{this}}}
            {{/each}}
        </div>
    </div>
    <button class="{{carouselStyles.right}} {{carouselStyles.btn}}  {{decorators.noVisibility}}"></button>
</div>
