<div class="{{itemStyles.block}}" item-id="{{itemId}}">
    <div class="{{itemStyles.infoWrapper}}">
        <div class="{{itemStyles.images}}">
            <img src="{{itemImage.src}}" class="{{itemStyles.image}}">
        </div>
        <div class="{{itemStyles.discountBlock}}">
            <div class="{{itemStyles.discountBadge}}" {{#ifEquals itemPrice.discount 0}} style="visibility: hidden;"{{/ifEquals}}>
                <span class="{{itemStyles.discountText}}">
                    -{{itemPrice.discount}}%
                </span>
            </div>
        </div>
        <div class="{{itemStyles.priceBlock}}">
            <span class="{{itemStyles.discountPrice}}"  {{#ifEquals itemPrice.discount 0}} style="display: none;"{{/ifEquals}}>
                {{itemPrice.discountPrice}}₽
            </span>
            <span class="{{itemStyles.price}} {{#ifNotEquals itemPrice.discount 0}}{{itemStyles.strikethrough}}{{/ifNotEquals}}"  {{#ifEquals itemPrice.discount 0}} style="font-size: var(--standart-font-size); font-weight: var(--bold-font)"{{/ifEquals}}>
                {{itemPrice.base}}₽
            </span>
        </div>
        <div class="{{itemStyles.descriptionBlock}}">
            <span class="{{itemStyles.name}}">
                {{itemName}}
            </span>
            <div class="{{itemStyles.rating}}">
                {{#for 0 itemRating 1}}
                    <img src="https://duckluckmarket.hb.bizmrg.com/svg/star.svg" alt="" class="">
                {{/for}}
                {{#for itemRating 5 1}}
                    <img src="https://duckluckmarket.hb.bizmrg.com/svg/empty_star.svg" alt="" class="">
                {{/for}}
            </div>
        </div>
    </div>
    <div class="{{itemStyles.buttonsBlock}}">
        <button class="{{itemStyles.cartButton}}">
            <span class="{{itemStyles.buttonText}}">
                В корзину
            </span>
        </button>
    </div>
</div>
